<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">EMS Online Apple Pay</label>
    <label lang="de">EMS Online Apple Pay</label>

    <version>1.0.0</version>
    <copyright>(c) 2019 EMS</copyright>
    <author>Ginger Payments</author>

<!--    <requiredPlugins>-->
<!--        <requiredPlugin pluginName="EMS Online" minVersion="1.2.0" maxVersion="3.5.2"/>-->
<!--    </requiredPlugins>-->

    <compatibility minVersion="5.2.13"/>
</plugin>
