<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>emsonline_apikey</name>
            <label lang="de">EMS Online API-Schlüssel</label>
            <label lang="en">EMS Online API-Key</label>
            <label lang="nl">EMS Online API-sleutel</label>
            <label lang="fr">EMS Online Clé API</label>
            <description lang="de">EMS PAY API Schlüssel ist erforderlich. Duplizieren Sie Ihre EMS PAY API Schlüssel von Merchant Portal.</description>
            <description lang="en">EMS PAY API key is required. Duplicate your EMS PAY API keys from Merchant Portal.</description>
            <description lang="nl">EMS PAY API-sleutel is vereist. Dupliceer uw EMS PAY API-sleutels van Merchant Portal.</description>
            <description lang="fr">La clé API EMS PAY est requise. Dupliquez vos clés API EMS PAY à partir du portail marchand.</description>
        </element>
        <element type="boolean" scope="locale">
            <name>emsonline_bundle_cacert</name>
            <label>EMS Online CaCert</label>
            <value>true</value>
            <description lang="de">cURL CA bündel benutzen.</description>
            <description lang="en">Use the cURL CA bundle.</description>
            <description lang="nl">Gebruik de cURL CA-bundle.</description>
            <description lang="fr">Utilisez le bundle cURL CA.</description>
        </element>
        <element type="boolean" scope="locale">
            <name>emsonline_webhook</name>
            <label>EMS Online Webhook</label>
            <value>true</value>
            <description lang="de">Verwenden Sie den Webhook</description>
            <description lang="en">Use the webhook.</description>
            <description lang="nl">Gebruik de webhook</description>
            <description lang="fr">Utilisez le webhook</description>
        </element>
        <element type="text" scope="locale">
            <name>emsonline_test_api_klarna</name>
            <label>EMS Online Klarna Pay Later Test API-Key</label>
            <description lang="de">Geben Sie hier den API-Schlüssel des Test-Webshops ein, um Klarna Pay Later zu testen. Wenn Sie Klarna Pay Later nicht anbieten, können Sie dies leer lassen.</description>
            <description lang="en">Enter the API Key of the test webshop here for testing Klarna Pay Later. If you do not offer Klarna Pay Later you can leave this empty.</description>
            <description lang="nl">Voer hier de API Key van de test webshop in om Klarna Pay Later te testen. Als u Klarna Pay Later niet aanbiedt, kunt u dit leeg laten.</description>
            <description lang="fr">Saisissez ici la clé API de la boutique en ligne de test pour tester Klarna Pay Later. Si vous ne proposez pas Klarna Pay Later, vous pouvez laisser ce champ vide.</description>
        </element>
        <element type="text" scope="locale">
            <name>emsonline_test_ip_klarna</name>
            <label>EMS Online Klarna Pay Later Test IP</label>
            <description lang="de">Sie können bestimmte IP-Adressen angeben, für die Klarna Pay Later sichtbar ist, z. B. wenn Sie Klarna Pay Later testen möchten. Sie können IP-Adressen als 128.0.0.1, 255.255.255.255 eingeben. Wenn Sie dieses Feld leer lassen, ist Klarna Pay Later für alle IP-Adressen sichtbar. "</description>
            <description lang="en">You can specify specific IP addresses for which the Klarna is used Payment later payment method is visible, eg if you want to test (for example: 128.0.0.1, 255.255.255.255). If you do not enter anything, the payment method is visible for all IP addresses.</description>
            <description lang="nl">U kunt specifieke IP-adressen specificeren waarvoor Klarna Pay Later zichtbaar is, bijvoorbeeld als u Klarna Pay Later wilt testen. U kunt IP-adressen typen als 128.0.0.1, 255.255.255.255. Als u dit leeg laat, is Klarna Pay Later zichtbaar voor alle IP-adressen. "</description>
            <description lang="fr">Vous pouvez spécifier des adresses IP spécifiques pour lesquelles Klarna Pay Later est visible, par exemple si vous souhaitez tester Klarna Pay Later. Vous pouvez taper des adresses IP comme 128.0.0.1, 255.255.255.255. Si vous laissez ce Klarna Pay Later vide, il est visible par toutes les adresses IP. "</description>
        </element>
        <element type="text" scope="locale">
            <name>emsonline_test_api_afterpay</name>
            <label>EMS Online Afterpay Test API-Key</label>
            <description lang="de">Geben Sie hier den API-Schlüssel des Test-Webshops ein, um AfterPay zu testen. Wenn Sie AfterPay nicht anbieten, können Sie dieses Feld leer lassen.</description>
            <description lang="en">Enter the API Key of the test webshop here for testing AfterPay. If you do not offer AfterPay you can leave this empty.</description>
            <description lang="nl">Voer hier de API Key van de test webshop in om AfterPay te testen. Als u AfterPay niet aanbiedt, kunt u dit leeg laten.</description>
            <description lang="fr">Saisissez ici la clé API de la boutique en ligne de test pour tester AfterPay. Si vous n'offrez pas AfterPay, vous pouvez le laisser vide.</description>
        </element>
        <element type="text" scope="locale">
            <name>emsonline_test_ip_afterpay</name>
            <label>EMS Online Afterpay Test IP</label>
            <description lang="de">Sie können bestimmte IP-Adressen angeben, für die AfterPay sichtbar ist, z. B. wenn Sie AfterPay testen möchten. Sie können IP-Adressen als 128.0.0.1, 255.255.255.255 eingeben. Wenn Sie dieses Feld leer lassen, ist AfterPay für alle IP-Adressen sichtbar.</description>
            <description lang="en">You can specify specific IP addresses for which the Klarna is used Payment later payment method is visible, eg if you want to test (for example: 128.0.0.1, 255.255.255.255). If you do not enter anything, the payment method is visible for all IP addresses.</description>
            <description lang="nl">U kunt specifieke IP-adressen specificeren waarvoor AfterPay zichtbaar is, bijvoorbeeld als u AfterPay wilt testen. U kunt IP-adressen typen als 128.0.0.1, 255.255.255.255. Als je dit leeg laat is AfterPay zichtbaar voor alle IP-adressen.</description>
            <description lang="fr">Vous pouvez spécifier des adresses IP spécifiques pour lesquelles AfterPay est visible, par exemple si vous souhaitez tester AfterPay. Vous pouvez taper des adresses IP comme 128.0.0.1, 255.255.255.255. Si vous laissez ce champ AfterPay vide, il est visible par toutes les adresses IP.</description>
        </element>
        <element type="text" scope="locale">
            <name>emsonline_afterpay_countries</name>
            <label>Countries available for AfterPay</label>
            <label lang="de">Für AfterPay verfügbare Länder</label>
            <label lang="nl">Landen beschikbaar voor AfterPay</label>
            <label lang="fr">Pays disponibles pour AfterPay</label>
            <value>NL, BE</value>
            <description lang="en">To allow AfterPay to be used for any other country just add its country code (in ISO 2 standard) to the "Countries available for AfterPay" field. Example: BE, NL, FR. If field is empty then AfterPay will be available for all countries.</description>
            <description lang="de">Um AfterPay für jedes andere Land verwenden zu können, fügen Sie einfach seinen Ländercode (in ISO 2-Norm) in das Feld "Für AfterPay verfügbare Länder" ein. Beispiel: BE, NL, FR. Wenn das Feld leer ist, ist AfterPay fur alle Lander verfugbar.</description>
            <description lang="nl">Om AfterPay voor elk ander land te kunnen gebruiken, voegt u gewoon de landcode (in ISO 2-norm) toe aan het veld "Beschikbare landen voor AfterPay". Voorbeeld: BE, NL, FR. Als het veld leeg is, is AfterPay beschikbaar voor alle landen.</description>
            <description lang="fr">Pour autoriser AfterPay à être utilisé pour tout autre pays, ajoutez simplement son code de pays (dans la norme ISO 2) dans le champ "Pays disponibles pour AfterPay". Exemple: BE, NL, FR. Si le champ est vide, AfterPay sera disponible pour tous les pays.</description>
        </element>

    </elements>
</config>